.main-nav-bar {
    background-color: #01243F !important;
    z-index: 9999;
    color: white;
    padding-right: 8rem;
    padding-left: 8rem;
}

.sub-nav-bar {
    top: 5rem;
    background-color: white !important;
    padding-right: 8rem;
    padding-left: 8rem;
}

.sub-nav-bar .navbar-brand {
    margin: 0;
}

.sub-nav-logo {
    color: #DC7471;
    font-weight: bolder;
}

.btn-cs {
    background: #01243F !important;
    color: #fcfcfc;
    border-color: #01243F;
}

.btn-warning {
    border-radius: 20px;
    color: black;
    background-color: unset;
    border: none;
    padding: 12px 12px;
    margin: 0 6px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #323130;
}

.btn-warning:hover {
    border-radius: 20px;
    color: rgb(223, 120, 112);
    background-color: rgba(220, 116, 113, 0.12);
    border: none;
}

.btn-warning:not(:disabled):not(.disabled).active:focus, .btn-warning:not(:disabled):not(.disabled):active:focus, .show>.btn-warning.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-warning.focus, .btn-warning:focus, .btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active, .show>.btn-warning.dropdown-toggle {
    background-color: rgba(220, 116, 113, 0.12);
    border-color: rgba(220, 116, 113, 0.12);
    box-shadow: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #DC7471;
}

.main-logo-text {
    display: inline-block;
    margin: 0.5rem;
}

.main-logo-text > span {
    display: flex;
    font-size: 0.85rem;
    font-weight: bold;
    color: white;
}

.language-buttons {
    padding: 0 1rem;
    border-right: 1px solid #787676;
    border-left: 1px solid #787676;
}

.social-media-links {
    padding: 0 0.5rem;
}

.font-size-chooser {
    padding: 0 0.5rem;
}

.navbar-collapse {
    justify-content: flex-end;
}

.english-button, .tamil-button {
    margin-right: 1rem;
}

.font-size-small, .font-size-medium, .font-size-large {
    margin-right: 0.5rem;
}

.font-size-small {
    font-size: 0.75rem;
}

.font-size-medium {
    font-size: 0.9rem;
}

.font-size-large {
    font-size: 1rem;
}

.main-nav-bar .navbar-toggler-icon {
    background-image: url('../images/down-arrow.png') !important;
}

@media (max-width: 768px) {
    .main-nav-bar, .sub-nav-bar {
        padding-right: 1rem;
        padding-left: 0.6rem;
    }
}

@media (max-width: 480px) {
    .navbar-brand {
        margin-right: 0px;
    }

    .main-nav-bar {
        justify-content: center;
        flex-direction: column;
    }

    .main-nav-bar .navbar-brand {
        padding: 0;
    }

    .main-nav-bar .navbar-toggler-icon {
        background-image: url('../images/arrow-small.png') !important;
        height: 16px;
    }

    .main-nav-bar .navbar-toggler {
        padding: 0;
    }

    .sub-nav-bar {
        top: 5.9rem;
    }

    .sub-nav-logo {
        font-size: 24px;
        margin-bottom: 0;
    }

    .navbar-light .navbar-toggler-icon {
        width: 25px;
    }
}

@media (max-width: 360px) {
    .sub-nav-logo {
        font-size: 20px;
    }

    .navbar-light .navbar-toggler {
        padding: 0;
        border: none;
    }
}