.main-nav-bar {
    background-color: #01243F !important;
    color: white;
    padding-right: 8rem;
    padding-left: 8rem;
}

.sub-nav-bar {
    top: 5rem;
    background-color: white !important;
    padding-right: 8rem;
    padding-left: 8rem;
}

.sub-nav-logo {
    color: #DC7471;
    font-weight: bolder;
}

.btn-warning {
    border-radius: 20px;
    color: black;
    background-color: unset;
    border: none;
}

.btn-warning:hover {
    border-radius: 20px;
    color: rgb(223, 120, 112);
    background-color: rgba(220, 116, 113, 0.12);
    border: none;
}

.main-logo-text {
    display: inline-block;
    margin: 0.5rem;
}

.main-logo-text > span {
    display: flex;
    font-size: 0.85rem;
    font-weight: bold;
    color: white;
}

.language-buttons {
    padding: 0 1rem;
    border-right: 1px solid #787676;
    border-left: 1px solid #787676;
}

.social-media-links {
    padding: 0 0.5rem;
}

.font-size-chooser {
    padding: 0 0.5rem;
}

.navbar-collapse {
    justify-content: flex-end;
}

.english-button, .tamil-button {
    margin-right: 1rem;
}

.font-size-small, .font-size-medium, .font-size-large {
    margin-right: 0.5rem;
}

.font-size-small {
    font-size: 0.75rem;
}

.font-size-medium {
    font-size: 0.9rem;
}

.font-size-large {
    font-size: 1rem;
}

.navbar-toggler-icon {
    background-image: url('../images/down-arrow.png') !important;
}


