.faq-split {
    min-width: 524px;
}

.expandable-tile,
.faq-split {
    min-width: unset;
    width: unset;
    max-width: 524px;
}
.collapsible {
    font-size: 16px;
}

.collapsible-answer {
    font-size: 14px;
}

.collapsible-points {
    font-size: 13px;
}